<!DOCTYPE html>
<html>
    <head>
       
    </head>
    <body>
        <header>
            <%- include('../../layout/header') %> 
        </header>
        <main>
            <section>
                <% book.forEach( data => { %>
                    <img src='<%=data.image_url  %>'/>
                      <h3><%= data.title %></h3>
                      <h4><%= data.author %></h4>
                      <h5><%= data.description %></h5>
                      <button>Updat</button>
                      <div>
                        <%- include('../../layout/edit',{book:data}) %> 
                    </div>
                  <% }) %>
            </section>

           
        </main>
    </body>
</html>